.unique-news-blogs-container {
  text-align: center;
  padding: 50px 20px;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #000;
}

.unique-section-title {
  color: #FFF;

  font-family: "Bakbak One";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0px;
  margin-bottom: 30px;
}

.unique-carousel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  gap: 20px;
}

.unique-arrow {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.unique-carousel-cards {
  display: flex;
  overflow: hidden;
  gap: 30px;
}

.unique-blog-card {
  flex: 0 0 28%;
  background-color: #111;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0px 0px 20px rgba(255, 0, 255, 0.3);
  transition: all 0.5s ease-in-out;
}

.unique-blog-card:hover {
  transform: translateY(-10px);
}

.unique-blog-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.unique-blog-image {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
  border-radius: 10px;
}

.unique-blog-info {
  text-align: left;
}

.unique-blog-title {
  font-size: 1.4rem;
  font-weight: bold;
  color: #fff;
}

.unique-blog-collection {
  font-size: 1rem;
  color: #aaa;
  margin-bottom: 10px;
}

.unique-blog-description {
  font-size: 1rem;
  color: #ccc;
  margin-bottom: 15px;
}

.unique-know-more-btn {
  border-radius: 100px;
  background: linear-gradient(90deg, #FF1CEE 0%, #516AFF 100%);
  color: #fff;
  padding: 10px 36px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 20px;
}

.unique-know-more-btn:hover {
  background-color: #e600e6;
}

/* Responsive Styles */
@media (max-width: 1024px) {
  .unique-section-title {
    font-size: 2rem;
  }

  .unique-carousel {
    padding: 0 40px;
  }

  .unique-blog-card {
    flex: 0 0 45%;
  }
}

@media (max-width: 768px) {
  .unique-section-title {
    font-size: 1.8rem;
  }
  .unique-news-blogs-container {
    padding-top: 24px;
    padding-bottom: 32px;
  }
  .unique-carousel {
    padding: 0 30px;
  }

  .unique-arrow {
    width: 35px;
    height: 35px;
  }

  .unique-blog-card {
    flex: 0 0 60%;
  }

  .unique-blog-title {
    font-size: 1.2rem;
  }

  .unique-blog-collection {
    font-size: 0.9rem;
  }

  .unique-blog-description {
    font-size: 0.9rem;
  }

  .unique-know-more-btn {
    font-size: 0.9rem;
    padding: 8px 16px;
  }
}

@media (max-width: 480px) {
  .unique-section-title {
    font-size: 34px;
  }

  .unique-carousel {
    padding: 0 20px;
  }

  .unique-arrow {
    width: 30px;
    height: 30px;
  }

  .unique-blog-card {
    flex: 0 0 80%;
    padding: 15px;
  }

  .unique-blog-title {
    font-size: 1.1rem;
  }

  .unique-blog-collection {
    font-size: 0.8rem;
  }

  .unique-blog-description {
    font-size: 0.8rem;
  }

  .unique-know-more-btn {
    font-size: 0.8rem;
    padding: 6px 12px;
  }
}
